.banner {
  color: #fff;
  object-fit: contain;
  height: 448px;
}

.banner--fadeBottom {
  height: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
